<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunrin.tint">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinT"
        android:usesCleartextTraffic="true">
      
        <activity android:name=".Screen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="google.com"
                    android:scheme="http" />
            </intent-filter>-->
        </activity>
        <activity android:name=".GalleryActivity" />
        <activity android:name=".Screen.MainActivity" />
        <activity android:name=".Screen.Login.LogInActivity" />
        <activity android:name=".Screen.Register.RegisterActivity" />
        <activity android:name=".Screen.PostViewActivity" />

    </application>

</manifest>